<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Companies List</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="employee">Select Employee:</label>
        <select name="employee" id="employee" class="select2">
        <option selected disabled>Select an employee</option>
            {% for employee in employees %}
            <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
            {% endfor %}
        </select> 
        <button type="submit">Associate Employee</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
</body>
</html>
